 body { 
    background-color: black;
    width: 100%;
    color: #ffffff;
    
 }


 p {
 
    font-size: 20px;
    padding: 50px;
}



.input_form {
    width: 20%;
}

.input_form_message {
    height: 150px;
}
ul {
    list-style-type: circle;
}
h2 {
    behavior: "scroll";
    direction:"down";
    color: #ffffff; 
    text-align: center;
   
}

h1 {
    behavior: "scroll";
    direction:"down";
    color: #ffffff; 
    text-align: center; 
}



.profile_picture {
    border-radius: 50%;
    vertical-align: middle
    width: ;
    margin: 0 10px;
}
ul .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu_pill {
    display: inline-block;
    margin: 0 10px;
    border: 2px groove #333;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
  }

  .menu_pill a:hover {
    border-radius: 20px;
    transform: scale(1.2); 
    

  }
  
  a {
    text-decoration: none;
    color: #e18848;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: block;
   
  }

  
  
  a:hover {
    color: #fff;
    background-color: #333;
  }
  
  li:hover {
    border-color: #333;
    
    
  }
  
  li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    background-color: #333;
    border-radius: 50%;
    transition: all 0.5s ease;
  }
  
 
  
  


.contacto_color p {
    
    color: #f4efef;
    font-size: 20px;
    padding: 50px;
    font-family: arial;
}

.sobre_empresa p {
    
    color: #ffffff; 
    font-size: 20px;
    padding: 10px;
    font-family: arial;
    text-align: left;


}

.values_pill {
    display: inline-block;
    padding: 10px;
    border: 2px groove #a76208;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
    font-size: 1.2em;
}

.values_pill:hover {
    border: 2px groove #a76208;
}

.clientes_empresa p {
    color: #f4efef;
    font-size: 20px;
    padding: 50px;
    font-family: arial;

    
}

.home_video video {
    object-fit: fill;
    overflow: hidden;
    width: 100%;
  }
  


.home_video {
   
    height: auto;
    position:relative;
    display: block;
    
}

.logos_container {

    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
       

}

.client_logo {
    
    height: auto;
    margin: 0 auto;
    

}

.client_logo img {
   
    text-align: center;
    line-height: 1.5;
    text-underline-offset: 15px;
    font-size: 25px;
    padding: 0 8%;
    display: table;
    
}


    
.service_details {
    width: 30%;
    display: inline-block;
    display: table-cell;
    text-align: left;
}

.services_container {
    padding: 0 9%;
    display: table;
}

.service_details h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px; 
    text-decoration-color: chocolate;
    line-height: 1.5;
    font-family: Arial; 
    text-underline-offset: 15px;
    font-size: 25px;
   
}
.form_element {
    margin-bottom: 1rem;
    -webkit-text-size-adjust: 100%;
    width: 90%;
    left: auto;
    right: auto;
    float: left;
    transition: 3s;
    margin-left: auto;
    border-radius: 4px;
    text-align: center;
 
} 

    
    
.button_element {
    border-radius: 20px;
    color: #FFFFFF;
    font-family: shzc;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: none;
    background-color: #c59d1a;
    border: 0;
    
}

.button_element:hover {
    background-color: rgba(197, 157, 26, 0.8);
    border: 0;
    color: #111111;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

.form_container {
    display: block;
    min-height: 100px;
}
  


.information_contact {
    vertical-align: center;
    width: 100%;
    text-align: center;
    cursor: pointer;

}

.photographies h4 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px; 
    text-decoration-color: chocolate;
    line-height: 1.5;
    font-family: Arial; 
    text-underline-offset: 15px;
    font-size: 22px;

}
.photographies {
    text-align: center;
}

.videos h5 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px; 
    text-decoration-color: chocolate;
    line-height: 1.5;
    font-family: Arial; 
    text-underline-offset: 15px;
    font-size: 22px;
}
.videos {
    text-align: center;
   
}

.spots-publicitarios {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px; 
    text-decoration-color: chocolate;
    line-height: 1.5;
    font-family: Arial; 
    text-underline-offset: 15px;
    font-size: 22px;
}

.information_aboutme {
    
    justify-content: center;
    font-family: Arial;
    padding: 0 3%;
    width: 30%;
    display: inline-block;
    
    

}

.information_formation {
    text-align: left;
    font-family: Arial;
    padding: 0 3%;
    width: 30%;
    display: right;
    float: right;
    padding: 0 15%;
    display: inline-block;
    display: table-cell;
    
}

.information_formation h6 {
    text-align: center;
    font-size: large;
    text-decoration-color: chocolate;
    text-underline-offset: 15px;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-thickness: 4px; 
    text-decoration-color: chocolate;
    line-height: 1.5;
    font-family: Arial; 
    text-underline-offset: 15px;
    font-size: 25px;
    
}



.contact_background {
    background: url("../Images/pcontact.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


/* css del nav menu */ 

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;

} 

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: 50px;
    
}

.list  {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler, .navbar label {
    display: none;

}

@media screen and (max-width:600px) {
    .menu-responsive {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }  
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    } 

    .nav label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu-responsive {
        max-height: 100%;

    }
}

